<div style="text-align: center">
<h2>Connectez-vous!</h2>
<div id="login" style="text-align: center">
  <form>
    Nom d'utilisateur: <input size="30px" type="text" name="Nom d'utilisateur" value="xx"><br>
    Mot de passe:<input size="34px" type="text" name="Mot de passe" value="xx"><br>
    <ul>
      <h4><a target="_blank" rel="noopener" onclick="alert('Un nouveau mot de passe est envoyé sur votre boite mail, veuillez le changez à votre prochaine connexion')">Mot de passe oublié</a></h4>
    </ul>
  </form>
  <button><a (click)="goToList()">Connexion</a></button>

</div>
</div>
