<div style="margin: 0 auto">
  <h2>
    Tableau de visualisation des tâches
  </h2>
  <table id="table" border="1" cellpadding="15" align="center">
    <thead>
    <tr>
      <th> Id </th>
      <th> catagorie</th>
      <th> Titre </th>
      <th> Emetteur </th>
      <th> Destiné a </th>
      <th> Importance </th>
      <th> Etat </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> 3</td>
      <td id="link" style="font-style: italic"><a (click)="showDetails()" style="text-decoration: underline"> alimentation</a></td>
      <td> need food</td>
      <td> xx</td>
      <td>xx</td>
      <td>5</td>
      <td>en cours</td>
    </tr>
    </tbody>
  </table>

  <button type="button"><a (click)="logout()">Déconnexion</a></button>
</div>
