#details{
  width: 200px;
  margin: 0px auto;
}

li{
  text-align: left;
}
button {
  margin-top: 30px;
  background-color: cadetblue;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}
button:hover {
  background-color: rgba(12,10,15,0.28);
}
